

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #262626;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: beige;
    
  }


  